In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('diabetes_data.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,LocationAbbr,DataSource,DataValueUnit,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,Year
0,0,3,ME,BRFSS,%,11.4,11.4,10.2,12.7,DIA,DIA01,CRDPREV,SEX,SEXM,2019
1,1,9,AL,BRFSS,%,5.0,5.0,3.6,6.8,DIA,DIA01,CRDPREV,AGE,AGE1844,2020
2,2,21,VT,BRFSS,%,9.3,9.3,8.0,10.8,DIA,DIA01,CRDPREV,SEX,SEXM,2020
3,3,22,VI,BRFSS,%,12.0,12.0,7.7,18.2,DIA,DIA01,CRDPREV,SEX,SEXM,2020
4,4,29,MA,BRFSS,%,9.2,9.2,8.0,10.6,DIA,DIA01,CRDPREV,SEX,SEXM,2021

In [9]:
dia01_counts_df = df.groupby('LocationAbbr')['QuestionID'].value_counts().reset_index()

In [16]:
dia01_coundia01_counts_df = df[df['QuestionID'] == 'DIA01'].groupby('LocationAbbr').size().reset_index(name='DIA01_Count')
ts_df = dia01_counts_df[dia01_counts_df['QuestionID'] == 'DIA01']
ts_df

    LocationAbbr QuestionID  count
1             AK      DIA01     66
5             AL      DIA01     59
8             AR      DIA01     71
12            AZ      DIA01     74
17            CA      DIA01     77
19            CO      DIA01     67
23            CT      DIA01     73
27            DC      DIA01     56
31            DE      DIA01     61
36            FL      DIA01     39
39            GA      DIA01     67
42            GU      DIA01     64
44            HI      DIA01     76
47            IA      DIA01     63
51            ID      DIA01     55
55            IL      DIA01     64
58            IN      DIA01     72
61            KS      DIA01     80
66            KY      DIA01     56
69            LA      DIA01     65
73            MA      DIA01     72
76            MD      DIA01     82
80            ME      DIA01     58
85            MI      DIA01     71
89            MN      DIA01     83
93            MO      DIA01     71
97            MS      DIA01     53
101           MT      DIA01     64
105           NC      DIA01     71
109           ND      DIA01     54
113           NE      DIA01     74
117           NH      DIA01     44
122           NJ      DIA01     52
125           NM      DIA01     63
129           NV      DIA01     63
132           NY      DIA01     81
136           OH      DIA01     71
139           OK      DIA01     76
143           OR      DIA01     59
148           PA      DIA01     62
150           PR      DIA01     44
153           RI      DIA01     67
157           SC      DIA01     67
160           SD      DIA01     56
164           TN      DIA01     65
169           TX      DIA01     67
172           US      DIA01     70
175           UT      DIA01     62
179           VA      DIA01     74
182           VI      DIA01     24
183           VT      DIA01     48
187           WA      DIA01     87
191           WI      DIA01     65
195           WV      DIA01     59
199           WY      DIA01     56